:root {
    --font-Lora: "Lora";
    --font-jeju: "jejumyeongjo";
    --color-point-orange: #FA5100;
    --color-text-brown: #774535;
    --color-text-font: #3A0F07;
}
wrap {
    max-width:1920px; width: 100%;
    margin: 0 auto;
    line-height: 1.2;
    position: relative;
}
header {
    position: absolute;
    top: 0; left: 0; z-index:100;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px;
}
header h1 img {width: 220px; height: 100%;}
header .gnb {width: 639px;}
header .gnb .menu_list {
    display: flex; gap: 60px;
}
header .gnb .menu_list li a {font-family: var(--font-Lora); letter-spacing: -0.01em;}
header .right_gnb .menu_right {display:flex; gap: 12px;}

.sec01_video {
    position: relative;
    width:100%; height: 100vh;
    overflow: hidden;
}
.sec01_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.hero-logo{
    position: absolute;
    left: 50%;  top: calc(100vh - 120px);
    transform: translateX(-50%);
    z-index:20;
}
.hero-logo img { display: block; width:1175px;}


.sec02_slogan {
    width:100%;
    height: 1500px;
    background-image: url(../images/section02_sloganTxt_BG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sec02_slogan .sloganBox {
    margin: 200px 0 100px 0;
    width: 900px; height:1200px;
    text-align: center;
    background-image:url(../images/sloganBox_BG.png);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

.sec02_slogan .sloganBox h2 {
    font-family: var(--font-Lora);
    font-size: 2.25rem;
    color: var(--color-point-orange);
    letter-spacing: 0.02em;
} 
.sec02_slogan .sloganBox p {
    font-family: var(--font-jeju);
    color: var(--color-text-font);
    line-height: 1.4;
    letter-spacing: -0.01em;
    margin: 100px 275px;
    width: 350px;
}

/* sec03_mind */
.sec03_mind {
    padding: 170px 0 0 210px;
    position: relative;
    height: 900px;
    background-image: url(../images/section03_mind_BG.jpg);
    background-size: cover;
    background-position: center;
}
.sec03_mind h2 {
    font-size: 2.25rem;
    font-family: var(--font-Lora);
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    color: #fff;
}
.sec03_mind h3 {
    font-size: 2.25rem;
    line-height: 1.4;
    font-family: var(--font-jeju);
    letter-spacing: -0.01em;
    margin-bottom: 40px;
    color: #fff;
}
.sec03_mind p {
    line-height: 1.4;
    font-family: var(--font-jeju);  
    letter-spacing: -0.01em;  
    color: #fff;
}
.sec03_mind img {
    width: 620px;
    position: absolute;
    right: 220px; top: 220px;
}
/* sec04 */
.sec04_brandStory {
    position: relative;
    padding: 120px 210px;
    height: 120vh;
    background-image: url(../images/section04_brandStory_BG.jpg);
    background-size: cover;
    background-position: center;
}
.sec04_brandStory .titleBox h2 {
    font-size: 2.25rem;
    font-family: var(--font-Lora);
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    color: var(--color-point-orange);
}
.sec04_brandStory .titleBox h3 {
    font-size: 6rem;
    font-family: var(--font-Lora);
    color: var(--color-text-brown);
    padding-left: 127px;
}
.sec04_brandStory .contantBox {
    margin-top: 130px;
    width: 662px;
}
.sec04_brandStory .contantBox h2 {
    font-family: var(--font-jeju);
    font-size: 2.25rem;
    letter-spacing: -0.01em;
    line-height: 1.4;
    color: var(--color-text-brown);
    margin-bottom: 60px;
}
.sec04_brandStory .contantBox p {
    font-family: var(--font-jeju);
    letter-spacing: -0.01em;
    line-height: 1.4;
    color: var(--color-text-brown);
    margin-bottom: 60px;
}
.sec04_brandStory .contantBox .viewmoreBtn  {width: 60px; height: 60px;}
.sec04_brandStory .img-left {
    position: absolute;
    top: 420px;
    left: 920px;
    width: 420px;
}
.sec04_brandStory .img-right {
    position: absolute;
    top: 100px;
    right: 120px;
    width: 420px;
}
/* sec05 */
.sec05_newarrivals {
    height: 900px;
    background-image: url(../images/section5_bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0 120px 210px;
    overflow: visible;
}
.sec05_newarrivals .new_product-viewport{
    overflow: hidden;
}
.sec05_newarrivals::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 2555, 0.4);
    z-index: 0;
}

.sec05_newarrivals h2 {
    font-size: 2.25rem;
    font-family: var(--font-Lora);
    letter-spacing: 0.02em;
    line-height: 1.4;
    color: var(--color-text-brown);
    margin-bottom: 60px;
}
.sec05_newarrivals .new_product {
    display: flex;
    text-align: center;

    width: 400px;
    flex-shrink: 0; /* 크기 고정 */
    
}
.sec05_newarrivals .new_product .product {
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    height: 525px;
    padding: 24px 0;
}
.sec05_newarrivals .new_product .product:hover {
    background: linear-gradient(rgba(119,69,53,0.2),rgba(255,255,255,0.6));
}

.sec05_newarrivals .product h3 {
    font-family: var(--font-jeju);
    font-size: 1.125rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-text-brown);
    margin-bottom: 10px;
}
.sec05_newarrivals .product p {
    font-size: 0.813rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-text-brown);
    margin-bottom: 10px;
}
.sec05_newarrivals .product button.cart_btn {
    font-family: var(--font-jeju);
    font-size: 1.125rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-text-brown);
    padding: 4px 0;
    width: 240px;
    border: 1px solid #774535;
}
.sec05_newarrivals .product button.cart_btn:hover {
    background: #774535;
}
.sec05_newarrivals .product button.heart_btn{
    width: 24px; height: 24px;
    position: absolute;
    top: 22px; right: 22px;
}
/* 중간 배너 */
.sec06_eventbanner img {
    height: 400px;
}
/* sec07 */
.sec07_best{
    position: relative;
    height: 500vh;
    background: linear-gradient(#FEF0E3, #DC622F, #B52A17);
}
.sec07_best .best_inner{
    position: relative; 
    height: 100vh;
    display: flex;
    padding: 120px 210px; 
    box-sizing: border-box;
}
.best_inner .best_fixed {
    padding-right: 10px;
    width: 490px;
}
.best_inner .best_fixed h2 {
    font-size: 2.25rem;
    font-family: var(--font-Lora);
    letter-spacing: 0.02em;
    line-height: 1.4;
    color: var(--color-point-orange);
    margin-bottom: 10px;
}
.best_inner .best_fixed p {font-family: var(--font-jeju); color: var(--color-text-brown);}
.best_inner .best_viewport {
    padding-top: 50px;
    height: 100vh;
    width: 1000px;

}
.best_viewport .best_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.best_viewport .product {
    height: 570px;
    flex-shrink: 0;
    
}


.best_viewport .best_list img {border-radius: 20px;} 


.sec07_best{}



/* sec08 */
.sec08_featured {
    padding: 0 210px;
    background: linear-gradient(#B52A17, #590804);
}
.sec08_featured .featuredset {
    display: flex;
    gap: 60px;
}
.sec08_featured .featuredset {
    margin-bottom: 20px;
}
.sec08_featured .featuredset .txt_box {
    width: 440px; 
    margin-top: 100px;
}
.featuredset .txt_box h2 {
    font-family: var(--font-jeju);
    font-size: 2.25rem;
    margin-bottom: 60px;
    letter-spacing: -0.01em;
    line-height: 1.4;
    color: #fff;
}
.featuredset .txt_box h2.title {
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.featuredset .txt_box p {
    font-family: var(--font-jeju);
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 60px;
}
.featuredset .txt_box .viewbuy_btn {
    display: flex;
    gap: 30px;
}
.featuredset .txt_box .viewbuy_btn button {
    line-height: 1.4;
    letter-spacing: -0.01em;
    padding: 10px 30px;
    color: #671507;
    background: #fff;
}
.featuredset .txt_box .viewbuy_btn button:hover {
    color: #fff;
    background: #000;
}

/* sec09 */
.sec09_finalPromo {
    height: 500px;
    background-image: url(../images/section10_finalPromo_BG.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    text-align: center;
}
.sec09_finalPromo h2 {
    font-family: var(--font-jeju);
    font-size: 2.25rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-point-orange);
    margin-bottom: 40px;
}
.sec09_finalPromo p {
    font-family: var(--font-jeju);
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: var(--color-text-font);
    margin-bottom: 40px;
}
/* footer */
footer {
    background: #671507;
    height: 300px; 
    display: flex;
}
footer .footer-top h1 {width: 220px; height:43px;}

footer .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
footer .footer-info .footer-nav {margin-bottom: 30px; }
footer .footer-info .footer-nav ul {
    display: flex; gap:10px;
}
footer .footer-info .footer-nav ul li a {color: #fff;}
.footer-info .footer-cs {
    padding-left: 60px;
    line-height: 1.4;
}
.footer-info .footer-cs p {font-size:0.75rem;}
.footer-info .footer-cs p.number {
    margin-bottom: 10px;
    font-size: 1.25rem; font-weight: 800;
}
.footer-info .footer-cs p {
    color: #fff;
    font-size: 0.813rem;
}

.footer-right .sns {display: flex; gap: 20px; align-items: center;}
.footer-right .sns .mark img {width: 70px; height: 48px; }
.footer-right .sns li img {
    width: 30px; height: 30px;
    border: 1px solid red;
}